.excellent {
  color: #0f0;
}

.good {
  color: #ff0;
}

.lightly-polluted {
  color: #f90;
}

.moderately-polluted {
  color: #f00;
}

.heavily-polluted {
  color: #540099;
}

.severely-polluted {
  color: #800000;
}
